@import "seattletimes";
@orange: #c65220;

responsive-child {
	border-top: 1px solid @df-light-gray;
	border-bottom: 1px solid @df-light-gray;
	margin: 20px auto;
	max-width: 636px;
	width: 100%;
}

.container {
	position: relative;
}

#intro, #stepper {
	&.inactive {
		display: none;
	}
	&.active {
		display: block;
	}
}

button {
	background-image: none;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	height: 50px;
	position: absolute;
	top: 50%;
}

#start-button {
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: block;
	height: 100%;
	top: 0;
	width: 100%;
	&:hover {
		background: rgba(0, 0, 0, 0.5);
	}
}

.button-text {
	background: #fff;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px #666;
	color: #333;
	font-size: 0.65em;
	padding: 20px 40px;
	text-transform: uppercase;
	.arrow {
		padding-left: 5px;
	}
}

.stepper-button {
	background: rgba(0, 0, 0, 0);
	height: 100%;
	top: 0;
	width: 50%;
	z-index: 2;
	&.active {
		cursor: pointer;
	}
	&.inactive .arrow {
		display: none;
	}
	&.active .arrow {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.stepper-button .arrow {
	height: 100%;
	position: absolute;
	top: 0;
	width: 50px;
	@media (max-width: 630px) {
		line-height: 60vw;
	}
	@media (min-width: 631px) {
		line-height: 390px;
	}
}

.stepper-button:hover .arrow {
	background-color: rgba(0, 0, 0, 0.5);
}

#prev-button .arrow {
	border-radius: 5px 0 0 5px;
	left: 0;
}

#next-button {
	right: 0;
}

#next-button .arrow {
	border-radius: 0 5px 5px 0;
	right: 0;
}

.navigation-text {
	font-family: @df-sans;
	width: 100%;
	text-align: center;
	padding: 0 10px;
	margin: 0;
}

#image-container {
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-size: 1000px auto;
	border: 5px solid @df-middle-gray;
	border-radius: 5px;
	height: 60vw;
	max-height: 390px;
	position: relative;
	transition: background-size .5s;
	transition: background-position .5s;
	width: 100%;
	&:after {
		content: "";
		position: absolute;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  border: 10px solid #fff;
	}
}

.page-label {
	color: @orange;
	font-family: @df-sans;
	font-weight: bold;
	margin: 1em 0 .25em ;
	text-transform: uppercase;
}

.annotation-hed, .annotation-text {
	font-family: @df-sans;
}

.annotation-hed {
	font-size: .9em;
	font-weight: bold;
	margin: .25em 0;
}

.annotation-text {
	font-size: .9em;
	margin-top: .25em;
}

.caption {
	margin-top: 10px;
	margin-bottom: 10px;
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.data-source, .art-credit {
	margin: 0;
}