@import "seattletimes";
@orange: #c65220;

responsive-child {
	border-top: 1px solid @df-light-gray;
	border-bottom: 1px solid @df-light-gray;
	margin: auto;
	max-width: 636px;
	width: 100%;
}

.container {
	position: relative;
}

#intro, #stepper {
	&.inactive {
		display: none;
	}
	&.active {
		display: block;
	}
}

button {
	background-image: none;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	height: 50px;
	margin-top: -25px;
	position: absolute;
	top: 50%;
	&.active {
		background-color: @df-blue;
		cursor: pointer;
		&:hover {
			background-color: darken(@df-blue, 20%);
		}
	}
}

#start-button {
	display: block;
	left: 50%;
	margin-left: -82.5px;
	width: 165px;
}

.stepper-button {

	width: 50px;
	z-index: 2;
	&.inactive {
		background-color: @df-light-gray;
	}
}

#next-button {
	right: 0;
}

.navigation-text {
	font-family: @df-sans;
	width: 100%;
	text-align: center;
	padding: 0 10px;
	margin: 0;
	line-height: 50px;
}

#image-container {
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-size: 1000px auto;
	border: 5px solid @df-middle-gray;
	border-radius: 5px;
	height: 60vw;
	max-height: 390px;
	position: relative;
	transition: all .5s;
	width: 100%;
	&:after {
		content: "";
		position: absolute;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  border: 10px solid #fff;
	}
}

.page-label {
	color: @orange;
	font-family: @df-sans;
	font-weight: bold;
	margin: 1em 0 .25em ;
	text-transform: uppercase;
}

.annotation-hed, .annotation-text {
	font-family: @df-sans;
}

.annotation-hed {
	font-size: .9em;
	font-weight: bold;
	margin: .25em 0;
}

.annotation-text {
	font-size: .9em;
	margin-top: .25em;
}

.caption {
	margin-bottom: 10px;
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.data-source, .art-credit {
	margin: 0;
}