@import "seattletimes";
@orange: #c65220;

responsive-child {
	border-top: 1px solid @df-light-gray;
	border-bottom: 1px solid @df-light-gray;
	margin: auto;
	max-width: 636px;
	width: 100%;
}

.container {
	position: relative;
}

#intro, #stepper {
	&.inactive {
		display: none;
	}
	&.active {
		display: block;
	}
}

button {
	background-image: none;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	height: 50px;
	position: absolute;
	top: 50%;
}

#start-button {
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: block;
	height: 100%;
	top: 0;
	width: 100%;
	&:hover {
		background: rgba(0, 0, 0, 0.5);
	}
}

.button-text {
	background: #fff;
	border: none;
	border-radius: 5px;
	color: @df-blue;
	font-size: 0.65em;
	padding: 20px 40px;
	text-transform: uppercase;
	.arrow {
		padding-left: 5px;
	}
}

#start-button:hover .button-text {

}

.stepper-button {
	background: rgba(0, 0, 0, 0);
	height: 100%;
	top: 0;
	width: 50%;
	z-index: 2;
	&:hover .arrow {

	}
	&.active {
		cursor: pointer;
	}
	&.inactive .arrow {
		background-color: @df-light-gray;
	}
	&.active .arrow {
		background-color: #000;
	}
}

.stepper-button .arrow {
	border: 2px solid #fff;
	border-radius: 7px;
	height: 50px;
	line-height: 46px;
	margin-top: -25px;
	position: absolute;
	top: 50%;
	width: 50px;
}

.stepper-button:hover .arrow {
	background-color: @df-blue;
}

#prev-button .arrow {
	left: 12px;
}

#next-button {
	right: 12px;
}

#next-button .arrow {
	right: 0;
}

.navigation-text {
	font-family: @df-sans;
	width: 100%;
	text-align: center;
	padding: 0 10px;
	margin: 0;
}

#image-container {
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-size: 1000px auto;
	border: 5px solid @df-middle-gray;
	border-radius: 5px;
	height: 60vw;
	max-height: 390px;
	position: relative;
	transition: all .5s;
	width: 100%;
	&:after {
		content: "";
		position: absolute;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  border: 10px solid #fff;
	}
}

.page-label {
	color: @orange;
	font-family: @df-sans;
	font-weight: bold;
	margin: 1em 0 .25em ;
	text-transform: uppercase;
}

.annotation-hed, .annotation-text {
	font-family: @df-sans;
}

.annotation-hed {
	font-size: .9em;
	font-weight: bold;
	margin: .25em 0;
}

.annotation-text {
	font-size: .9em;
	margin-top: .25em;
}

.caption {
	margin-bottom: 10px;
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.data-source, .art-credit {
	margin: 0;
}